@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:wght@400;600&display=swap');

:root {
  --black: #242423;
  --dark__grey: #333533;
  --yellow: #f5cb5c;
  --yellow__dark: #e4b536;
  --green: #88a05d;
  --green__light: #e8eddf;
  --grey: #eeeeee;
  --white: #ffffff;

  --input__transparent: #00000020;
  --border__focus__yellow: #f5cb5c25;
  --background__light__overlay: #24242390;
}

body, .tooltip
 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

a {
  color: var(--yellow);
}

/* a:hover {
  color: var(--yellow);
  border-bottom: 1px solid var(--yellow);
  padding-bottom: .2em;
  text-decoration: none;
} */

.header-bar {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 125px;
  width: 100%;
  z-index: 100;
}

.header-bar:after {
  background: linear-gradient(to right, #506a50, #567656, #5c835c, #629062, #689d68, #6fa66f, #75b075, #7cb97c, #85c185, #8ec88e, #98d098, #a1d8a1);
  content: '';
  width: 100%;
  position: absolute;
  top: 125px;
  height: 3px;
  left: 0;
  z-index: 101;
}

.header-bar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-form-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-item:not(:last-child) {
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .header-bar {
    padding: 0 60px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 63px;
    width: 100%;

    position: fixed;
  }

  .header-bar:after {
    top: 63px;
  }
}

.app-name {
  margin-bottom: 0;
}

.app-name a {
  font-family: 'Berkshire Swash', 'Helvetica', sans-serif;
  background: linear-gradient(45deg, #506A50, #70AF70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container--narrow {
  max-width: 732px;
}

.header-chat-icon {
  cursor: pointer;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-feed {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: var(--black);
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem
}

.input-dark {
  background-color: var(--input__transparent);
  border-color: transparent;
  border-radius: 3px;
  color: var(--white);
  height: 31px;
  max-width: 120px;
  margin-right: 5px;
}

.input-dark:focus {
  color: var(--white);
  background-color: var(--input__transparent);
  border-color: var(--yellow);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--border__focus__yellow);
}

.input-dark::-webkit-input-placeholder {color: var(--white);}
.input-dark::-moz-placeholder {color: var(--white);}
.input-dark:-ms-input-placeholder {color: var(--white);}
.input-dark:-moz-placeholder {color: var(--white);}

@media (min-width: 768px) {
  .input-dark {
   max-width: 150px;
  }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {font-size: 2.5rem}
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  transition: all .5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%)
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0)
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

.delete-post-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--background__light__overlay);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: .33s visibility ease-in-out, .33s opacity ease-in-out, .33s transform ease-in-out;
  will-change: visibility, transform, opacity;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay-icon {
  color: var(--yellow);
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: var(--yellow);
}

.live-search-results {
  opacity: 0;
  transition: all .3s ease-out;
  transform: scale(1.07)
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1)
}

.search-overlay-top {
  background-color: var(--white);
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .75;
  line-height: 1;
  color: var(--black);
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 2.5rem;
  }

  .close-live-search {
    font-size: 3rem;
  }

  .search-overlay-icon {
    font-size: 3rem;
  }
}

.close-live-search:hover {
  opacity: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity .45s ease-out, visibility .45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: var(--yellow);
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
  opacity: 0;
  transform: translateY(100%)
}

.chat--visible {
  opacity: 1;
  transform: translateY(0)
}

.chat-title-bar {
  background-color: var(--black);
  color: var(--white);
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: .7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: .75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: var(--yellow);
  color: var(--black);
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: var(--grey);
}

.chat-message a {
  color: var(--black);
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: .75rem;
}

.btn-success, .btn-primary {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn-success:hover, .btn-primary:hover, a.btn-success:hover {
  background-color: var(--yellow__dark);
  border-bottom: none;
  border-color: var(--yellow__dark);
  color: var(--black);
  padding-bottom: 5px;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--yellow);
  color: var(--yellow__dark) !important;
}

.btn-secondary:hover {
  background-color: var(--border__focus__yellow);
  border: 2px solid var(--yellow);
  color: var(--yellow__dark);
}

.btn-danger {
  color: var(--white) !important;
}

.list-group-item.active {
  background-color: var(--dark__grey);
  border-color: var(--dark__grey);
}

.list-group-item:hover {
  border: 1px solid rgba(0,0,0,.125);
  padding-bottom: 12px;
}

.min-height {
  min-height: calc(100vh - 192px);
}

@media only screen and (min-width: 768px) {
  .min-height {
    min-height: 100%;
  }

  .home-guest {

  }
}

.nav-tabs .nav-link {
  border: none;
  color: var(--dark__grey);
}

.nav-tabs .nav-link:hover {
  background-color: var(--border__focus__yellow);
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--yellow);
  color: var(--yellow);
  font-weight: 600;
}

.btn {
  color: var(--black);
}

.btn-icon {
  color: var(--black) !important;
}

.btn-icon:hover {
  color: var(--dark__grey) !important;
  text-decoration: none;
}

.btn-icon-nav {
  color: var(--black) !important;
}

.btn-icon-nav:hover {
  color: var(--yellow) !important;
}

.btn-icon-nav a {
  text-decoration: none !important;
  padding-bottom: 0;
}

.sidebar {
  display: none;
}

.feed {
  margin-top: 16px;
}

.feed-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.feed-item {
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 20px;

  width: 100%;
}

.feed-item:hover {
  text-decoration: none;

}

.feed-item-header {
  display: flex;
  align-items: center;
}

.user-details {
  color: var(--black);
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.user-name {
  color: var(--yellow);
  font-weight: bold;
}

.user-name:hover {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: .1em;
  text-decoration: none;
}

.feed-body {
  margin-bottom: 0;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .sidebar {
    height: calc(100vh - 66px);
    width: 200px;
    z-index: 98;

    position: fixed;
    top: 66px;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color:#f2f3ef;
    padding-left: 24px;
  }

  .sidebar-links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .sidebar-link {
    display: flex;
    align-items: center;

    padding: 16px 0;
  }

  .sidebar-link a, .sidebar-link span {
    color: var(--black);
    margin-left: 10px;
  }

  .sidebar-link a:hover, .sidebar-link span:hover {
    color: var(--yellow__dark);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
  }

  .sidebar-footer, .sidebar-footer a {
    font-size: 12px;
  }

  main {
    box-shadow: 0 0 10px #24242320;

    position: absolute;
    top: 66px;
    right: 0;

    min-height: calc(100vh - 66px);
    width: calc(100vw - 200px);
    z-index: 99;
  }

  .feed {
    margin-top: 32px;
  }
}